<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoKkutuGui.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AutoKkutuGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoKkutuGui.Settings>
            <setting name="AutoEnterEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoDBUpdateEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EndWordEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AttackWordEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReturnModeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoFixEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MissionAutoDetectionEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DelayEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DelayPerCharEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DelayInMillis" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DelayStartAfterWordEnterEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxDisplayedWordCount" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="FixDelayEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FixDelayPerCharEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FixDelayInMillis" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EndWordColor" serializeAs="String">
                <value>255, 17, 0</value>
            </setting>
            <setting name="AttackWordColor" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="MissionWordColor" serializeAs="String">
                <value>64, 255, 64</value>
            </setting>
            <setting name="EndMissionWordColor" serializeAs="String">
                <value>32, 192, 168</value>
            </setting>
            <setting name="AttackMissionWordColor" serializeAs="String">
                <value>255, 255, 64</value>
            </setting>
            <setting name="InputSimulate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoDBWordAddEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoDBWordRemoveEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoDBAddEndEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RandomWordSelection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RandomWordSelectionCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AutoEnterInputSimulateJavaScriptSendKeys" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HijackACPackets" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SimulateAntiCheat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DetectInputLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogChatting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelfAntiCheat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartDelay" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="StartDelayRandom" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DelayPerChar" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DelayPerCharRandom" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FixStartDelay" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FixStartDelayRandom" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FixDelayPerChar" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FixDelayPerCharRandom" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="OnlySearchOnMyTurn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ArduinoPort" serializeAs="String">
                <value>COM7</value>
            </setting>
            <setting name="ArduinoBaudrate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="AutoEnterMode" serializeAs="String">
                <value>Win32InputSimulate</value>
            </setting>
        </AutoKkutuGui.Settings>
        <AutoKkutuGui.Properties.Settings>
            <setting name="AutoEnterEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoDBUpdateEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EndWordEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AttackWordEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReturnModeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoFixEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MissionAutoDetectionEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DelayEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DelayPerCharEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DelayInMillis" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DelayStartAfterWordEnterEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GameModeAutoDetectionEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxDisplayedWordCount" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="FixDelayEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FixDelayPerCharEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FixDelayInMillis" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EndWordColor" serializeAs="String">
                <value>255, 17, 0</value>
            </setting>
            <setting name="AttackWordColor" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="MissionWordColor" serializeAs="String">
                <value>64, 255, 64</value>
            </setting>
            <setting name="EndMissionWordColor" serializeAs="String">
                <value>32, 192, 168</value>
            </setting>
            <setting name="AttackMissionWordColor" serializeAs="String">
                <value>255, 255, 64</value>
            </setting>
            <setting name="InactiveWordPreference" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoDBUpdateMode" serializeAs="String">
                <value>OnGameEnd</value>
            </setting>
            <setting name="ActiveWordPreference" serializeAs="String">
                <value>5;6;4;1;2;0</value>
            </setting>
        </AutoKkutuGui.Properties.Settings>
    </userSettings>
</configuration>
