<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="dbtype" type="AutoKkutuGui.ConfigFile.DatabaseTypeSection, AutoKkutuGui" />
		<section name="sqlite" type="AutoKkutuGui.ConfigFile.SQLiteSection, AutoKkutuGui" />
		<section name="mysql" type="AutoKkutuGui.ConfigFile.MySQLSection, AutoKkutuGui" />
		<section name="postgresql" type="AutoKkutuGui.ConfigFile.PostgreSQLSection, AutoKkutuGui" />
	</configSections>
	<!-- Available values: Local, MySQL, PostgreSQL, MariaDB -->
	<!-- There is no actual difference between MySQL and MariaDB. Only logo changes. -->
	<dbtype type="local" />
	<sqlite file="path.sqlite" />
	<mysql connectionString="Server=;Port=;Uid=;Pwd=;Database=;Charset=utf8" />
	<postgresql connectionString="Host=;Port=;Username=;Password=;Database=" />
</configuration>
