<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="EndWordColor" value="FF1100"/>
		<add key="AttackWordColor" value="FF8000"/>
		<add key="MissionWordColor" value="40FF40"/>
		<add key="EndMissionWordColor" value="20C0A8"/>
		<add key="AttackMissionWordColor" value="FFFF40"/>
	</appSettings>
</configuration>