<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="dbtype" type="AutoKkutu.DatabaseTypeSection, AutoKkutu"/>
		<section name="sqlite" type="AutoKkutu.SQLiteSection, AutoKkutu"/>
		<section name="mysql" type="AutoKkutu.MySQLSection, AutoKkutu"/>
		<section name="postgresql" type="AutoKkutu.PostgreSQLSection, AutoKkutu"/>
	</configSections>
	<!-- Available values: Local, MySQL, PostgreSQL -->
	<!-- MariaDB shares connector module with MySQL -->
	<dbtype type="MySQL"/>
	<sqlite file="path.sqlite" />
	<mysql connectionString="Server=;Port=;Uid=;Pwd=;Database=;Charset=utf8" />
	<postgresql connectionString="Host=;Port=;Username=;Password=;Database=" />
</configuration>