<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="AsyncLogFile" xsi:type="AsyncWrapper" queueLimit="16384" batchSize="256" overflowAction="Grow">
			<target name="LogFile" xsi:type="File" fileName="AutoKkutu.log" encoding="utf-8" layout="[${date:format=yyyy-MM-dd HH:mm:ss}] [${pad:padding=5:inner=${level:uppercase=true}}] ${logger} | ${message}${onexception:inner=${newline}${exception:format=tostring}}" archiveAboveSize="8388608" archiveNumbering="Rolling"/>
		</target>
		<target name="LogConsole" xsi:type="ColoredConsole" encoding="utf-8" layout="[${level:uppercase=true}] ${logger} | ${message}${onexception:inner=${newline}${exception:format=tostring}}" detectOutputRedirected="False">
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" backgroundColor="NoChange"/>
			<highlight-row condition="level == LogLevel.Info" foregroundColor="White" backgroundColor="NoChange"/>
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" backgroundColor="NoChange"/>
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" backgroundColor="NoChange"/>
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="DarkRed" backgroundColor="NoChange"/>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="LogConsole"/>
		<logger name="*" minlevel="Debug" writeTo="AsyncLogFile"/>
	</rules>
</nlog>
